In [1]:
import pandas as pd

2022 to 2032.
222 for the FY 2021
Revenue Growth Factor: 18% of prior period Revenue
EBITDA Margin: 45.0% of current Revenue
Taxes: 21% of current EDBITDA
Capital Expenditures: 3% of current Revenue
Working Capital Increase: 6% of Revenue
EBITDA Exit Multiple: 32.70
Discount Factor: 0.94 (6%).

In [24]:
dates = pd.date_range("2022", "2032", freq="Y").year
dates

Int64Index([2022, 2023, 2024, 2025, 2026, 2027, 2028, 2029, 2030, 2031], dtype='int64')

In [25]:
df = pd.DataFrame(columns=["Revenue", "EBITDA", "Taxes",
                           "Capital Expenditure", "Working Capital",
                           "Cash Flow", "Discount Factor",
                           "Present Value Free Cash Flow"],
                  index=dates)
df.loc[2022, "Revenue"] = 222 * (1 + 0.18)
df

,Revenue,EBITDA,Taxes,Capital Expenditure,Working Capital,Cash Flow,Discount Factor,Present Value Free Cash Flow
2022,261.96,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2026,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2027,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2028,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2029,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2031,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
for i in range(1, len(df)):
    df.iloc[i]["Revenue"] = df.iloc[i - 1]["Revenue"] * (1 + 0.18)

In [27]:
df

,Revenue,EBITDA,Taxes,Capital Expenditure,Working Capital,Cash Flow,Discount Factor,Present Value Free Cash Flow
2022,261.96,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023,309.1128,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024,364.753104,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025,430.408663,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2026,507.882222,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2027,599.301022,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2028,707.175206,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2029,834.466743,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2030,984.670757,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2031,1161.911493,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
df["EBITDA"] = df["Revenue"] * 0.45

In [29]:
df["Taxes"] = -df["EBITDA"] * 0.21

In [30]:
df["Capital Expenditure"] = -df["Revenue"] * 0.03

In [31]:
df["Working Capital"] = -df["Revenue"] * 0.06

In [32]:
df["Cash Flow"] = df["EBITDA"] + df["Taxes"] + df["Capital Expenditure"] + df["Working Capital"]

In [33]:
df

,Revenue,EBITDA,Taxes,Capital Expenditure,Working Capital,Cash Flow,Discount Factor,Present Value Free Cash Flow
2022,261.96,117.882,-24.75522,-7.8588,-15.7176,69.55038,NaN,NaN
2023,309.1128,139.10076,-29.21116,-9.273384,-18.546768,82.069448,NaN,NaN
2024,364.753104,164.138897,-34.469168,-10.942593,-21.885186,96.841949,NaN,NaN
2025,430.408663,193.683898,-40.673619,-12.91226,-25.82452,114.2735,NaN,NaN
2026,507.882222,228.547,-47.99487,-15.236467,-30.472933,134.84273,NaN,NaN
2027,599.301022,269.68546,-56.633947,-17.979031,-35.958061,159.114421,NaN,NaN
2028,707.175206,318.228843,-66.828057,-21.215256,-42.430512,187.755017,NaN,NaN
2029,834.466743,375.510034,-78.857107,-25.034002,-50.068005,221.55092,NaN,NaN
2030,984.670757,443.101841,-93.051387,-29.540123,-59.080245,261.430086,NaN,NaN
2031,1161.911493,522.860172,-109.800636,-34.857345,-69.71469,308.487501,NaN,NaN

In [34]:
# 2022: DF = (1 - 0.06)^1
# 2023: DF = (1 - 0.06)^2
# 2024: DF = (1 - 0.06)^3

In [36]:
for i in range(len(df)):
    df.iloc[i]["Discount Factor"] = (1 - 0.06) ** (i + 1)

In [37]:
df

,Revenue,EBITDA,Taxes,Capital Expenditure,Working Capital,Cash Flow,Discount Factor,Present Value Free Cash Flow
2022,261.96,117.882,-24.75522,-7.8588,-15.7176,69.55038,0.94,NaN
2023,309.1128,139.10076,-29.21116,-9.273384,-18.546768,82.069448,0.8836,NaN
2024,364.753104,164.138897,-34.469168,-10.942593,-21.885186,96.841949,0.830584,NaN
2025,430.408663,193.683898,-40.673619,-12.91226,-25.82452,114.2735,0.780749,NaN
2026,507.882222,228.547,-47.99487,-15.236467,-30.472933,134.84273,0.733904,NaN
2027,599.301022,269.68546,-56.633947,-17.979031,-35.958061,159.114421,0.68987,NaN
2028,707.175206,318.228843,-66.828057,-21.215256,-42.430512,187.755017,0.648478,NaN
2029,834.466743,375.510034,-78.857107,-25.034002,-50.068005,221.55092,0.609569,NaN
2030,984.670757,443.101841,-93.051387,-29.540123,-59.080245,261.430086,0.572995,NaN
2031,1161.911493,522.860172,-109.800636,-34.857345,-69.71469,308.487501,0.538615,NaN

In [38]:
df["Present Value Free Cash Flow"] = df["Cash Flow"] * df["Discount Factor"]

In [39]:
df

,Revenue,EBITDA,Taxes,Capital Expenditure,Working Capital,Cash Flow,Discount Factor,Present Value Free Cash Flow
2022,261.96,117.882,-24.75522,-7.8588,-15.7176,69.55038,0.94,65.377357
2023,309.1128,139.10076,-29.21116,-9.273384,-18.546768,82.069448,0.8836,72.516565
2024,364.753104,164.138897,-34.469168,-10.942593,-21.885186,96.841949,0.830584,80.435373
2025,430.408663,193.683898,-40.673619,-12.91226,-25.82452,114.2735,0.780749,89.218916
2026,507.882222,228.547,-47.99487,-15.236467,-30.472933,134.84273,0.733904,98.961622
2027,599.301022,269.68546,-56.633947,-17.979031,-35.958061,159.114421,0.68987,109.768231
2028,707.175206,318.228843,-66.828057,-21.215256,-42.430512,187.755017,0.648478,121.754922
2029,834.466743,375.510034,-78.857107,-25.034002,-50.068005,221.55092,0.609569,135.050559
2030,984.670757,443.101841,-93.051387,-29.540123,-59.080245,261.430086,0.572995,149.79808
2031,1161.911493,522.860172,-109.800636,-34.857345,-69.71469,308.487501,0.538615,166.156031

In [40]:
revenue_2032 = df.loc[2031, "Revenue"] * 1.18
ebitda_2032 = revenue_2032 * 0.45
terminal_value = ebitda_2032 * 32.70

In [43]:
message = f"""
Our projected Present Value of Projected Future Cash Flows are:

{df["Present Value Free Cash Flow"]}.


We are providing revenue guidance in 2032 to be: {revenue_2032}.

With an estimated EBITDA around: {ebitda_2032}.

The terminal value a this time given a multiple of 32.70

and the above EBITDA for 2030, would equal: {terminal_value}.

"""

In [44]:
print(message)

Our projected Present Value of Projected Future Cash Flows are:

2022     65.377357
2023     72.516565
2024     80.435373
2025     89.218916
2026     98.961622
2027    109.768231
2028    121.754922
2029    135.050559
2030     149.79808
2031    166.156031
Name: Present Value Free Cash Flow, dtype: object.


We are providing revenue guidance in 2032 to be: 1371.055561673072.

With an estimated EBITDA around: 616.9750027528823.

The terminal value a this time given a multiple of 32.70

and the above EBITDA for 2030, would equal: 20175.082590019254.